<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Assignment for Quadiro Technologies</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex" role="search" method="post" action="http://localhost:8000/logout">
            <button class="btn btn-outline-success" type="submit">Logout</button>
          </form>
          <div class="btncont">
            <a href="/addCar"><button type="button" class="btn btn-primary nvbtn">Add Car</button></a>
            <a href="/dashboard"><button type="button" class="btn btn-success nvbtn">Dashboard</button></a>
          </div>
        </div>
      </div>
    </nav>
</header>
